asgiref==3.11.1                         # Base para que Django maneje peticiones asíncronas (ASGI)
Django==6.0.4                           # El framework principal — el núcleo de todo el proyecto
gunicorn==25.3.0                        # Servidor para producción (reemplaza a 'manage.py runserver')
packaging==26.1                         # Utilidad para comparar versiones de paquetes
pillow==12.2.0                          # Librería para procesar imágenes (redimensionar, convertir, etc.)
python-dotenv==1.2.2                    # Lee el archivo .env donde guardas las credenciales secretas
sqlparse==0.5.5                         # Formatea y analiza consultas SQL
tzdata==2026.1                          # Base de datos de zonas horarias del mundo
